{% if error is iterable %}
    {% for err in error %}
        <div class="alert alert-danger alert-dismissible" role="alert">        
            <strong>ERROR:</strong> {{ err | raw }}
        </div>
    {% endfor %}
{% else %}
    <div class="alert alert-danger alert-dismissible" role="alert">        
        <strong>ERROR:</strong> {{ error | raw }}
    </div>
{% endif %}