<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar top-bar"></span>
            <span class="navbar-toggler-bar middle-bar"></span>
            <span class="navbar-toggler-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand" href="index.php" rel="tooltip" title="" data-placement="bottom" data-original-title="Chapgames Inc">
            {# i['title'] #}<img src="assets/images/logo.png" />
        </a>
        <ul class="navbar-nav bd-navbar-nav flex-row ml-auto">
            {% if (not in['username']) %}
                <li class="nav-item">
                    <a href="login.php" class="nav-link">LOGIN</a>
                </li>
                <li class="nav-item">
                    <a href="signup.php" class="nav-link">REGISTER</a>
                </li>
            {% else %}
                {% if (in_perm['has_admin']) %}
                    <li class="nav-item">
                        <a class="nav-link" href="admin/">Admin panel</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <span class="currency symbol">N</span><span id="user-balance" class="balance money">{{in['balance']}}</span>
                        <span class="caret"></span>
                    </a>
                </li>                
                <li class="nav-item"><a href="credit.php" class="nav-link">Load Credit</a></li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="{{profilepic}}" class="profilepic" width="25px" height="25px">
                        <b>{{in['username']}}</b>
                        <span class="caret"></span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="profile.php">My profile</a>                        
                        <a href="payout.php" class="dropdown-item">Request Payout</a>
                        <a href="stat.php" class="dropdown-item">Play History</a>
                        <a class="dropdown-item" href="logout.php">Logout</a>
                    </div>
                </li>
            {% endif %}
        </ul>

        <div class="navbar-collapse justify-content-end d-lg-none" id="navigation" data-nav-image="../assets/img/blurred-image-1.jpg">
            {{ header_menu.html() | raw }}
        </div>
    </div>
</nav>