# ignore IDE/hidden/OS cache files
.*
*~
nbproject
nb-configuration.xml
Session.vim
*.tmproj
*.tmproject
*.zip
*.gz
tmtags
Thumbs.db
Desktop.ini
*.code-workspace

# ignore Composer downloads
/vendor/*
/games/*

# keep some hiddens
!.htaccess
!/.gitignore
!/.travis.yml


#others
/templates/cache
/views/cache
/old
/documentation
/now-ui-kit
composer.lock