 {% if (cur_game['comments'] == "1") %}
<ul class="list-group">
    {% if (in['id'] %} {{ include('partials/comment_form.twig') }} {% endif %}





    <li class="list-group-item">
        <div class="row" style="margin-top:5px;">
            <div class="col-xs-2 col-md-1 hidden-sm hidden-xs">
                <a href="profile.php?u=<?php echo $commentuser1['username']; ?>">
                    <img src="<?php echo $commentuser1_profilepic; ?>" class="img-circle " style="width:42px;height:42px" alt="" />
                </a>
            </div>
            <div class="col-xs-12 col-md-11">
                <div>
                    <div class="action" style="float:right;">
                        <?php if($in['id']){ ?>

                        <a role="button" data-toggle="collapse" href="#collapse<?php echo $n1['id']; ?>" aria-expanded="false" aria-controls="collapse<?php echo $n1['id']; ?>">
                            <button type="button" id="comment<?php echo $n1['id']; ?>" class="btn btn-success btn-xs" title="reply">
                                <i class="fa fa-reply" aria-hidden="true"></i> Reply
                            </button>
                        </a>


                        <?php if($commentuser1['us2ername'] == $in["username"]){ ?>
                        <button type="button" class="btn btn-info btn-xs" title="like">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
                        </button>
                        <?php } ?>

                        <?php if($commentuser1['username'] == $in["username"] || $in_perm['can_editcomment'] == "1"){ ?>
                        <button type="button" data-toggle="modal" data-target="#editcomment<?php echo $n1['id']; ?>" class="btn btn-warning btn-xs"
                            title="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <?php } ?>


                        <div class="modal fade" id="editcomment<?php echo $n1['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Edit comment</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form" method="post">
                                            <div class="form-group">
                                                <input value="<?php echo $cur_user['id'];?>" name="userid" style="display:none;"></input>
                                                <textarea style="resize: vertical;" class="form-control" name="message" id="exampleInputEmail1" placeholder="">
                                                    <?php echo $n1['message']; ?>
                                                </textarea>
                                            </div>

                                            <input type="submit" name="editcomment<?php echo $n1['id']; ?>" class="btn btn-warning" value="Edit">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="delete<?php echo $n1['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this comment?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post">
                                            <input type="submit" name="deletecomment<?php echo $n1['id']; ?>" class="btn btn-primary" value="Yes">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <button type="button" data-toggle="modal" data-target="#delete<?php echo $n1['id']; ?>" class="btn btn-danger btn-xs" title="Delete">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <?php } ?>
                        <?php } ?>
                    </div>

                    <div class="mic-info">
                        <a href="profile.php?u=<?php echo $commentuser1['username']; ?>">
                            <span style="<?php echo $commentuser1_perm['css'];?>;font-weight:Bold">
                                <?php echo $commentuser1['username']; ?>
                            </span>
                        </a>
                        <Small>on
                            <?php echo date('M d, Y h:ia T', $n1['date']); ?> </small>
                    </div>
                </div>
                <div class="comment-text">
                    <?php echo $n1['message']; ?>
                </div>


                <!-- replies here-->
                <div class="row profilecomment_reply">
                    <div class="col-xs-2 col-md-1  hidden-sm hidden-xs">
                        <a href="profile.php?u=<?php echo $commentuser2['username']; ?>">
                            <img src="<?php echo $commentuser1_profilepic; ?>" class="img-circle " style="width:42px;height:42px" alt="" />
                        </a>
                    </div>
                    <div class="col-xs-2 col-md-1  visible-sm visible-xs">
                    </div>
                    <div class="col-xs-10 col-md-11 ">
                        <div>
                            <div class="action" style="float:right;">

                                <?php if($commentuser2['userna2me'] == $in["username"]){ ?>
                                <button type="button" class="btn btn-info btn-xs" title="like">
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Like
                                </button>
                                <?php } ?>

                                <?php if($commentuser2['username'] == $in["username"] || $in_perm['can_editcomment'] == "1"){ ?>
                                <button type="button" data-toggle="modal" data-target="#editcomment<?php echo $n2['id']; ?>" class="btn btn-warning btn-xs"
                                    title="Edit">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <?php } ?>


                                <div class="modal fade" id="editcomment<?php echo $n2['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">Edit comment</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form" method="post">
                                                    <div class="form-group">
                                                        <input value="<?php echo $cur_user['id'];?>" name="userid" style="display:none;"></input>
                                                        <textarea style="resize: vertical;" class="form-control" name="message" id="exampleInputEmail1" placeholder="">
                                                            <?php echo $n2['message']; ?>
                                                        </textarea>
                                                    </div>

                                                    <input type="submit" name="editcomment<?php echo $n2['id']; ?>" class="btn btn-primary" value="Edit">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="delete<?php echo $n2['id']; ?>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel">Are you sure you want to delete this comment?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <form method="post">
                                                    <input type="submit" name="deletecomment<?php echo $n2['id']; ?>" class="btn btn-primary" value="Yes">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <button type="button" data-toggle="modal" data-target="#delete<?php echo $n2['id']; ?>" class="btn btn-danger btn-xs" title="Delete">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <?php } ?>
                            </div>

                            <div class="mic-info">
                                <a href="profile.php?u=<?php echo $commentuser2['username']; ?>">
                                    <span style="<?php echo $commentuser2_perm['css'];?>;font-weight:Bold">
                                        <?php echo $commentuser2['username']; ?>
                                    </span>
                                </a>
                                <Small>on
                                    <?php echo date('M d, Y h:ia T', $n2['date']); ?> </small>
                            </div>
                        </div>
                        <div class="comment-text">
                            <?php echo $n2['message']; ?>
                        </div>

                        <!-- replies here-->
                    </div>

                </div>
                <?php } ?>

                <!-- replies here-->


                <div class="collapse" id="collapse<?php echo $n1['id']; ?>">
                    <div class="row profilecomment_reply" id="commentbox5">
                        <div class="col-xs-2 col-md-1  hidden-sm hidden-xs">
                            <img src="<?php echo $profilepic; ?>" class="img-circle" style="width:42px;height:42px" alt="" />
                        </div>
                        <div class="col-xs-2 col-md-1  visible-sm visible-xs">
                        </div>
                        <div class="col-xs-10 col-md-11 ">
                            <div>

                                <?php if($in['id']){ ?>
                                <div class="mic-info">
                                    <form class="form" method="post">
                                        <div class="form-group">
                                            <input value="<?php echo $cur_user['id'];?>" name="userid" style="display:none;"></input>
                                            <input value="<?php echo $n1['id'];?>" name="postid" style="display:none;"></input>
                                            <textarea style="resize: vertical;" class="form-control" name="message" id="exampleInputEmail1" placeholder="Write something..."></textarea>
                                            <input style="float:right;" class="btn btn-primary  btn-sm" type="submit" name="postreplyprofile" value="Submit">
                                        </div>
                                    </form>
                                </div>
                                <?php } ?>

                            </div>


                            <!-- replies here-->
                        </div>
                    </div>

                </div>
                <!--end of reply -->
            </div>

        </div>
    </li>

    <?php
					}
					
					?>
    <nav aria-label="Page navigation" style="padding-left:10px">
        <ul class="pagination">

            <?php
	
	
	//pagination
	if($_GET['page'] == 1){
		$lastpage = $_GET['page'] - 1;
		echo '
		<li><a href="#" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a> </li>';
	}else{
		$lastpage = $_GET['page'] - 1;
		echo '
		<li><a href="'.$currenturl.'&page='.$lastpage.'#comment" aria-label="Previous">
			<span aria-hidden="true">&laquo;</span>
		</a></li>';
	}
	
	
	foreach(range(1, $totalNumberOfPages) as $pageNumber) {
		if(!$pageNumber == "0"){
		echo '<li><a href="'.$currenturl.'&page=' . $pageNumber . '#comment">'.$pageNumber.'</a></li>';
		}
	}
	
	
	if($_GET['page'] == $totalNumberOfPages){
		$nextpage = $_GET['page'] + 1;
		echo '
		<li><a href="#" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a> </li>';
	}else{
		$nextpage = $_GET['page'] + 1;
		
		echo '
		<li><a href="'.$currenturl.'&page='.$nextpage.'#comment" aria-label="Next">
			<span aria-hidden="true">&raquo;</span>
		</a></li>';
	}
	
	
	?>

        </ul>
    </nav>
</ul>

<?php }else{ ?>
<div class="alert alert-warning" role="alert">Comments on this game are disabled.</div>
<?php } ?>

</div>
</div>
<?php } ?>