    <footer class="footer bg-primary text-light">
        <div class="container">
            <nav>
                {{ footer_menu.html() | raw }}
            </nav>
            <div class="copyright" id="copyright">
                &copy;
                <script>
                    document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
                </script>, {{i['title']}} . All rights reserved
            </div>
        </div>
    </footer>
</div>

<!-- Core JS Files -->
<script src="files/js/core/jquery.min.js" type="text/javascript"></script>
<script src="files/js/core/popper.min.js" type="text/javascript"></script>
<script src="files/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="files/js/now-ui-kit.js?v=1.2.0" type="text/javascript"></script>
<!-- Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="files/js/loadingoverlay.min.js"></script>
<script src="files/js/plugins/bootstrap-switch.js"></script>
<!-- Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="files/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!-- Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="files/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!--script type="text/javascript" src="files/js/bootstrap.offcanvas.min.js"></script-->
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script type="text/javascript" src="files/js/script-loader.js"></script>
