<form method="post" action="search.php?go" class="navbar-form navbar-left hidden-xs">
    <div class="form-group">
        <input type="text" name="search-text" class="form-control" autocomplete="off" spellcheck="false" placeholder="Search game....">
    </div>
    <button type="button" name="search-button" class="form-submit btn btn-search-nav"><i class="fa fa-search" aria-hidden="true"></i></button>
</form>
