{% extends "./layout/layout.twig" %} 

{% block content %}
<script src="https://js.paystack.co/v1/inline.js"></script>
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">N500</h4>
                <button type="button" onclick="savePayment('500')" class="btn btn-primary"> Buy </button> 
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">N1000</h4>
                <button type="button" onclick="savePayment('1000')" class="btn btn-primary"> Buy </button> 
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">N1500</h4>
                <button type="button" onclick="savePayment('1500')" class="btn btn-primary"> Buy </button> 
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">N2000</h4>
                <button type="button" onclick="savePayment('2000')" class="btn btn-primary"> Buy </button> 
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card text-center">
            <div class="card-body">
                <h4 class="card-title">N2500</h4>
                <button type="button" onclick="savePayment('2500')" class="btn btn-primary"> Buy </button> 
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4">
        <div class="card text-center">
            <div class="card-body">
                    <label for="amount" class="card-title">Enter amount</label>
                    <input type="number" name="amount" placeholder="500" step="100" id="amount" class="form-control card-text">   
                    <button type="button" onclick="savePayment('amount', true)" class="btn btn-primary">Buy</button> 
            </div>
        </div>
    </div>
</div>
<script>
    function savePayment(data, id = false, reference){
        var amount = null;
        if(id){
            amount = $('#'+data).val() || 500;
        } else if(!isNaN(parseFloat(data)) && isFinite(data)) {
            amount = data;
        } else {
            amount = 500;
        }
         // post to server to verify transaction before giving value
         var orderObj = {
            amount: amount
        };
        // Send the data to save using post
        var posting = $.post(window.location, orderObj);
        $.LoadingOverlay("show");
    
        posting.done(function( data ) {
            /* check result from the attempt */
            console.log(data);
            $.LoadingOverlay("hide");
            payWithPaystack(data);

        });
        posting.fail(function( data ) { 
            /* and if it failed... */
            $.LoadingOverlay("hide");            
            alert("Couldn't complete request");
        });
    }

    function payWithPaystack(data){
       
      var handler = PaystackPop.setup({
        key: data.key,
        email: data.email,
        amount: data.amount,
        ref: data.reference, // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        metadata: {
           custom_fields: [
              {
                  display_name: "Mobile Number",
                  variable_name: "mobile_number",
                  value: data.phone
              }
           ]
        },
        callback: function(response){
            $.LoadingOverlay("show");           
            var verifying = $.get( window.location+'?reference=' + response.reference);
            verifying.done(function( data ) { 
                /* give value saved in data */ 
                $.LoadingOverlay("hide");
                $('#user-balance').text( data.balance );
                alert("Recharge successfull, balance updated");
            });
            verifying.fail(function( data ) { 
                /* and if it failed... */
                $.LoadingOverlay("hide");            
                alert("Couldn't confirm your payment at this time, you will be notified once payment has been confirmed");
            });
          },
          onClose: function(){
            alert('Click "Buy" to retry payment.');
          }
      });
      handler.openIframe();
    }
  </script>
{% endblock %}

   
  