{% extends "./layout/layout_login.twig" %}

{% block content %}
    <div class='form animated bounceIn'>	
        {% if (error) %}
            {{ include('partials/alert_error.twig')}}
        {% endif %}
        
        <h2>Login To Your Account</h2>
        <form  method="post">
            <input placeholder='Email address' name='email' type='email'>
            <input placeholder='Password' name='password' type='password'>	

            {% if (i['captcha'] == "1") %}
                <img src="inc/captcha.php" style="float:left;"/><input placeholder='Captcha' maxlength="4" style="width:225px"  name="captcha" type="text">
            {% endif %}
                    
            <input type="submit" name="login" class='button animated infinite pulse' value="Login">
            {% if (i['registeration'] == "1") %}
                <a href="signup.php"><button class='button animated infinite pulse' style="background:#242e38;" >Sign up</button></a>
            {% endif %}
        </form>
    </div>
{% endblock %}