{% extends "./layout/layout_full.twig" %}

{% block content %}
    <div class="col-md-8" style="padding:10px;">
		<div class="contentcontainer">
			<div class="title-blue">You have successfully logged out</div>
		</div>
    </div>
{% endblock %}