{% extends "./layout/layout.twig" %} {% block content %}
<div class="content">
    {% for user in users %}
        <div class="col-sm-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="{{user['dp']?: '//placehold.it/400x300'}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title" style="{{user['perm']['css']}}">{{user['bio']['username']}}</h4>
                    <a href="profile.php?u={{user['bio']['username']}}" class="btn btn-primary">View</a>
                </div>
            </div>						
        </div>
    {% endfor %}
</div>
{% endblock %}